.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    max-width: 1600px;
    position: relative;
    min-width: 480px;
}

#©_Copyright_2014_FreebiesXpress_com {
    float: left;
    font-size: 0.875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(85, 85, 85);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 3%;
    margin-left: 9.999784%;
    clear: both;
    margin-bottom: 3%;
}

#Envato {
    float: left;
    width: 21%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 40;
    margin: 0px;
    clear: none;
    display: block;
}

#Google_f {
    float: left;
    width: 41px;
    height: 41px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    background-image:url("img/Google_f.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 2%;
    clear: none;
    background-attachment: scroll;
    display: block;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#Sub-Title {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(119, 119, 119);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 33;
    margin: 1.5% auto 0px;
    clear: none;
}

#WordPress {
    float: left;
    width: 24%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin: 0px 0px 0px 3%;
    clear: none;
    display: block;
}

#Description_team {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 44;
    margin: 3% auto 8%;
    clear: none;
}

#Facebook_h {
    float: left;
    width: 41px;
    height: 41px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    background-image:url("img/Facebook_f.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 2%;
    clear: none;
    background-attachment: scroll;
    display: block;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#Pinterest_f {
    float: left;
    width: 41px;
    height: 41px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-image:url("img/Pinterest_f.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 2% 0% 2% 2%;
    clear: none;
    background-attachment: scroll;
    display: block;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#Microlancer {
    float: left;
    width: 21.999113%;
    max-width: none;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin: 0px 0px 0px 3%;
    clear: none;
    min-width: 100px;
    display: block;
}

#Title-Contact_Us {
    float: none;
    font-size: 2.5em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 34;
    margin-top: 7.5%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    text-transform: uppercase;
}

#Tuts {
    float: left;
    width: 19%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 38;
    margin: 0px 0px 0px 3%;
    clear: none;
    min-width: 0px;
    display: block;
}

#Sub-Title_team {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(119, 119, 119);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 87;
    margin-top: 1.5%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Twitter_f {
    float: left;
    width: 41px;
    height: 41px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    background-image:url("img/Twitter_f.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 2%;
    clear: none;
    background-attachment: scroll;
    display: block;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#contact {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(34, 34, 34);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin: 0.28125px 0px 0px;
    clear: none;
    background-image:url("img/Map_image.png");
    background-attachment: scroll;
    -webkit-background-size: 80%;
    background-size: 80%;
    background-position: 250% 60%;
    background-repeat: no-repeat no-repeat;
}

#Title_team {
    float: none;
    font-size: 2.5em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(34, 34, 34);
    font-style: normal;
    letter-spacing: -0.05em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 88;
    margin: 120px auto 0px;
    clear: none;
    text-transform: uppercase;
}

#team {
    float: none;
    height: auto;
    width: 100%;
    background-color: rgb(249, 249, 249);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 43;
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Description_4 {
    float: left;
    font-size: 0.875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 99;
    margin-top: 4%;
    margin-left: 100px;
    clear: both;
    padding: 5px;
}

#Branding_02 {
    float: none;
    font-size: 0.875em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(115, 115, 115);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 135;
    margin: 3% auto 10%;
    clear: none;
}

#Sub-Title_portf {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(119, 119, 119);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 176;
    margin-top: 1.5%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Description_03 {
    float: none;
    font-size: 0.875em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 181;
    margin-top: 9%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Name_03 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 55;
    margin: 0px auto;
    clear: none;
}

#textspan14 {
    float: none;
    font-size: 1em;
    line-height: 50px;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
}

#textspan15 {
    float: none;
    font-size: 0.875em;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
}

#Title_04 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 100;
    margin-top: 360px;
    margin-left: 100px;
    clear: both;
    padding: 5px;
}

#textspan8 {
    float: none;
    font-size: 1.125em;
    line-height: normal;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
}

#Description_2 {
    float: right;
    font-size: 0.875em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 106;
    margin-top: 4%;
    margin-left: 0px;
    clear: both;
    margin-right: 100px;
    padding: 5px;
}

#burned_logo {
    float: none;
    font-size: 1.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: normal;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 136;
    margin-top: 10%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#web_design {
    float: none;
    font-size: 0.875em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(115, 115, 115);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 142;
    margin: 3% auto 10%;
    clear: none;
}

#print_design_02 {
    float: none;
    font-size: 0.875em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(115, 115, 115);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 158;
    margin: 3% auto 10%;
    clear: none;
}

#Title-portfolio {
    float: none;
    font-size: 40px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(34, 34, 34);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 177;
    margin-top: 7.5%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    text-transform: uppercase;
}

#marketing {
    float: none;
    font-size: 112.5%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(34, 34, 34);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 182;
    margin-top: 9%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Description_02 {
    float: none;
    font-size: 0.875em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 186;
    margin-top: 9%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Contact {
    float: right;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 211;
    margin-top: 4%;
    margin-left: 0px;
    clear: none;
    margin-right: 12%;
    text-transform: uppercase;
    display: block;
}

#Logo {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 219;
    margin-top: 3%;
    margin-left: 13%;
    clear: none;
    display: block;
}

#Name_02 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 69;
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#textspan12 {
    float: none;
    font-size: 1em;
    line-height: 50px;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
}

#textspan13 {
    float: none;
    font-size: 0.875em;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
}

#img_portf_06 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 134;
    margin: 0px auto;
    clear: none;
}

#template {
    float: none;
    font-size: 1.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 143;
    margin-top: 10%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#product_Mock-Up {
    float: none;
    font-size: 0.875em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(115, 115, 115);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 149;
    margin: 3% auto 10%;
    clear: none;
}

#clever_poster {
    float: none;
    font-size: 1.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: normal;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 159;
    margin: 10% auto 0px;
    clear: none;
}

#print_design {
    float: none;
    font-size: 0.875em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(115, 115, 115);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 165;
    margin: 3% auto 10%;
    clear: none;
}

#portfolio {
    float: none;
    height: auto;
    width: auto;
    background-color: rgb(247, 247, 247);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 129;
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#icon_03 {
    float: none;
    width: 27%;
    max-width: 100%;
    height: 39%;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 183;
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#responsive {
    float: none;
    font-size: 112.5%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(34, 34, 34);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 187;
    margin-top: 9%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Description_01 {
    float: left;
    font-size: 0.875em;
    width: 100.005426%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 191;
    margin-top: 9%;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
}

#Sub-Title_serv {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(119, 119, 119);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 195;
    margin-top: 1.5%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#About {
    float: right;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 212;
    margin-top: 4%;
    margin-left: 0px;
    clear: none;
    margin-right: 2.5%;
    text-transform: uppercase;
    display: block;
}

#face_circ_02 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 70;
    margin: 0px auto;
    clear: none;
}

#Name_01 {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 83;
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#textspan10 {
    float: none;
    font-size: 1em;
    line-height: 50px;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
}

#textspan11 {
    float: none;
    font-size: 0.875em;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
}

#Title_02 {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 107;
    margin-top: 370px;
    margin-left: 0px;
    clear: both;
    margin-right: 100px;
    padding: 5px;
}

#textspan4 {
    float: none;
    font-size: 1.125em;
    line-height: normal;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
}

#Sub-Title_about {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(119, 119, 119);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 124;
    margin-top: 1.5%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#img_portf_05 {
    float: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 141;
    margin: 0px auto;
    clear: none;
}

#vinyl_record {
    float: none;
    font-size: 1.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: normal;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 150;
    margin-top: 10%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#smart_stationary {
    float: none;
    font-size: 1.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: normal;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 166;
    margin: 10% auto 0px;
    clear: none;
}

#Branding {
    float: none;
    font-size: 0.875em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(115, 115, 115);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 172;
    margin: 3% auto 10%;
    clear: none;
}

#icon_02 {
    float: none;
    width: 27%;
    max-width: 100%;
    height: 39%;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 188;
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#comerce {
    float: none;
    font-size: 112.5%;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(34, 34, 34);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 192;
    margin-top: 9%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Title-Services {
    float: none;
    font-size: 40px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(34, 34, 34);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 196;
    margin-top: 7.5%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    text-transform: uppercase;
}

#Portfolio {
    float: right;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 213;
    margin-top: 4%;
    margin-left: 0px;
    clear: none;
    margin-right: 2.5%;
    text-transform: uppercase;
    display: block;
}

#welcome_2 {
    float: none;
    font-size: 75px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 206;
    margin-top: 5%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    text-transform: uppercase;
}

#face_circ_01 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 84;
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    display: block;
    margin-right: auto;
}

#Title-About_Us {
    float: none;
    font-size: 2.5em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(34, 34, 34);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 125;
    margin-top: 7.5%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    text-transform: uppercase;
}

#img_portf_04 {
    float: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 148;
    margin: 0px auto;
    clear: none;
}

#ebony_ivory {
    float: none;
    font-size: 1.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: normal;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 173;
    margin-top: 10%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#icon_01 {
    float: none;
    width: 27%;
    max-width: 100%;
    height: 39%;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 193;
    clear: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#Services {
    float: right;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 214;
    margin-top: 4%;
    margin-left: 0px;
    clear: none;
    margin-right: 2.5%;
    text-transform: uppercase;
    display: block;
}

#welcome {
    float: none;
    font-size: 40px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: italic;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: droid-serif;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 207;
    margin-top: 20%;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Home {
    float: right;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: montserrat;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 215;
    margin-top: 4%;
    margin-left: 0px;
    clear: none;
    margin-right: 2.5%;
    text-transform: uppercase;
    display: block;
}

#header {
    float: none;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-image:url("img/Bg_image.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    background-attachment: scroll;
    clear: none;
    display: block;
    min-height: 0px;
    margin-left: auto;
    margin-right: auto;
    background-position: 50% 0%;
    background-repeat: no-repeat no-repeat;
}

#services {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    position: relative;
    margin-right: auto;
}

#service_01 {
    float: left;
    height: auto;
    clear: none;
    width: 17.999023%;
    position: static;
    top: 0px;
    left: 0px;
    margin: 5% 0px 7.5% 8%;
    display: block;
}

#service_02 {
    float: left;
    height: auto;
    margin: 5% 0px 7.5% 8.000977%;
    clear: none;
    width: 18%;
    display: block;
}

#service_03 {
    float: left;
    height: auto;
    margin: 5% 0% 7.5% 15%;
    clear: none;
    width: 18%;
    display: block;
}

#image_box {
    float: none;
    height: auto;
    margin: 5% auto 8%;
    clear: none;
    width: 59.99935%;
    min-width: 575px;
}

#potf_box_01 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 31%;
    background-color: rgb(255, 255, 255);
    display: block;
}

#img_portf_01 {
    float: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 171;
    margin: 0px auto;
    clear: none;
}

#potf_box_02 {
    float: left;
    height: auto;
    margin-left: 3.5%;
    margin-top: 0px;
    clear: none;
    width: 31%;
    background-color: rgb(255, 255, 255);
    display: block;
}

#img_portf_02 {
    float: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    clear: none;
    color: rgb(0, 0, 0);
}

#potf_box_03 {
    float: left;
    height: auto;
    margin-left: 3.5%;
    margin-top: 0px;
    clear: none;
    width: 31%;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
    display: block;
}

#img_portf_03 {
    float: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    clear: none;
    color: rgb(0, 0, 0);
}

#potf_box_04 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 5.49867%;
    clear: both;
    width: 31%;
    background-color: rgb(255, 255, 255);
    display: block;
}

#potf_box_05 {
    float: left;
    height: auto;
    margin-left: 3.5%;
    margin-top: 5.49867%;
    clear: none;
    width: 31%;
    display: block;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
}

#potf_box_06 {
    float: left;
    height: auto;
    margin-left: 3.5%;
    margin-top: 5.49867%;
    clear: none;
    width: 31%;
    display: block;
    margin-right: 0%;
    background-color: rgb(255, 255, 255);
}

#aboutus {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
}

#about_box {
    float: none;
    height: 100%;
    clear: none;
    width: auto;
    display: block;
    min-width: 0px;
    background-image:url("img/bg_aboutus.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    margin: 5% auto 0px;
    background-position: 50% 25px;
    background-repeat: no-repeat no-repeat;
}

#line_text_right {
    float: left;
    height: auto;
    margin: 2% 0% 360px;
    clear: none;
    width: 50%;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

#Title_03 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 114;
    margin: 280px 0px 0px 100px;
    clear: none;
    padding: 5px;
}

#textspan6 {
    float: none;
    font-size: 1.125em;
    line-height: normal;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
}

#Description_3 {
    float: left;
    font-size: 0.875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 113;
    margin: 4% 0px 0px 100px;
    clear: both;
    padding: 5px;
}

#line_text_left {
    float: left;
    height: auto;
    clear: none;
    width: 50%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom: 0%;
}

#Title_01 {
    float: right;
    font-size: 100%;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 114;
    margin: 0px 100px 0px 0px;
    clear: none;
    padding: 5px;
}

#textspan2 {
    float: none;
    font-size: 1.125em;
    line-height: normal;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
}

#Description_1 {
    float: right;
    font-size: 87%;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 113;
    margin: 3.998095% 100px 0px 0px;
    clear: both;
    padding: 5px;
}

#team_box {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 5%;
    clear: none;
    width: 50%;
    margin-right: auto;
    min-width: 620px;
}

#team_01 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 30%;
}

#social_01 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 5%;
    clear: none;
    width: 135px;
    margin-right: auto;
}

#team_02 {
    float: left;
    height: auto;
    margin-left: 5%;
    margin-top: 0px;
    clear: none;
    width: 30%;
}

#team_03 {
    float: left;
    height: auto;
    margin-left: 5%;
    margin-top: 0px;
    clear: none;
    width: 30%;
    display: block;
    margin-right: 0%;
}

#face_circ_03 {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 70;
    margin: 0px auto;
    clear: none;
}

#brand {
    float: none;
    height: 160px;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-width: 0px;
}

#twitter_01 {
    float: left;
    height: 41px;
    margin: 2px;
    clear: none;
    width: 41px;
    background-image:url("img/Twitter.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#twitter_01:hover {
    background-image:url("img/Twitter_h.png");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#facebook_01:hover {
    background-image:url("img/Facebook_h.png");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#facebook_01 {
    float: left;
    height: 41px;
    margin: 2px;
    clear: none;
    width: 41px;
    display: block;
    background-image:url("img/Facebook.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    visibility: visible;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#pinegrow_01:hover {
    background-image:url("img/Pinterest_h.png");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#pinegrow_01 {
    float: left;
    height: 41px;
    margin: 2px;
    clear: none;
    width: 41px;
    display: block;
    background-image:url("img/Pinterest.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#social_02 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 5%;
    clear: none;
    width: 135px;
    margin-right: auto;
    display: block;
}

#twitter_02:hover {
    background-image:url("img/Twitter_h.png");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#twitter_02 {
    float: left;
    height: 41px;
    margin: 2px;
    clear: none;
    width: 41px;
    display: block;
    background-image:url("img/Twitter.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#facebook_02:hover {
    background-image:url("img/Facebook_h.png");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#facebook_02 {
    float: left;
    height: 41px;
    margin: 2px;
    clear: none;
    width: 41px;
    display: block;
    visibility: visible;
    background-image:url("img/Facebook.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#google_02:hover {
    background-image:url("img/Google_h.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#google_02 {
    float: left;
    height: 41px;
    margin: 2px;
    clear: none;
    width: 41px;
    display: block;
    background-image:url("img/Google.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#social_03 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 5%;
    clear: none;
    width: 90px;
    display: block;
    margin-right: auto;
}

#facebook_03:hover {
    background-image:url("img/Facebook_h.png");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#facebook_03 {
    float: left;
    height: 41px;
    margin: 2px;
    clear: none;
    width: 41px;
    display: block;
    visibility: visible;
    background-image:url("img/Facebook.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#pinegrow_03:hover {
    background-image:url("img/Pinterest_h.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#pinegrow_03 {
    float: left;
    height: 41px;
    margin: 2px;
    clear: none;
    width: 41px;
    display: block;
    background-image:url("img/Pinterest.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#brand_box {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 55px;
    clear: none;
    width: 50%;
    margin-right: auto;
}

#footer {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    display: block;
    margin-right: auto;
}

#Twitter_f:hover {
    background-image:url("img/Twitter_h.png");
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#Facebook_h:hover {
    background-image:url("img/Facebook_h.png");
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 41px;
    margin-left: 2%;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#Google_f:hover {
    background-image:url("img/Google_h.png");
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#Pinterest_f:hover {
    background-image:url("img/Pinterest_h.png");
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#social_f {
    float: right;
    height: auto;
    margin: 2% 15% 2% 5%;
    clear: none;
    width: 20%;
}

#button_header {
    float: none;
    height: 65.00000295249998px;
    margin: 5% auto 10%;
    clear: none;
    width: 16.540317%;
    background-color: rgb(254, 209, 54);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
}

#more {
    float: none;
    font-size: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin: 0px auto;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    font-family: montserrat;
    text-transform: uppercase;
    padding-top: 10%;
}

#textspan1 {
    float: none;
    font-size: 1.125em;
    line-height: normal;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    text-transform: uppercase;
}

#textspan5 {
    float: none;
    font-size: 1.125em;
    line-height: normal;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    text-transform: uppercase;
}

#textspan3 {
    float: none;
    font-size: 1.125em;
    line-height: normal;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    text-transform: uppercase;
}

#textspan7 {
    float: none;
    font-size: 1.125em;
    line-height: normal;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
    text-transform: uppercase;
}

#form {
    float: none;
    height: 28%;
    margin-left: auto;
    margin-top: 5%;
    clear: none;
    width: 80%;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#form_name {
    float: left;
    height: 52px;
    margin: 0px 0px 0px 0%;
    clear: none;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#form_mail {
    float: left;
    height: 52px;
    margin: 5.698138% 0px 0px 0%;
    clear: both;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#form_subject {
    float: left;
    height: 52px;
    margin: 5.698138% 0px 0px 0%;
    clear: both;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#form_message {
    float: right;
    height: 228.65625px;
    margin: 0px;
    clear: none;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 0px;
    max-height: 100%;
}

#form_left {
    float: left;
    height: 100%;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 50%;
}

#button_footer {
    float: none;
    height: 65.00000295249998px;
    margin: 2% auto 10%;
    clear: none;
    width: 16.540317%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    background-color: rgb(254, 209, 54);
}

#send {
    float: none;
    font-size: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin: 0px auto;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    font-family: montserrat;
    text-transform: uppercase;
    padding-top: 12%;
}

#Home:hover {
    text-decoration: underline;
}

#Services:hover {
    text-decoration: underline;
}

#Portfolio:hover {
    text-decoration: underline;
}

#About:hover {
    text-decoration: underline;
}

#Contact:hover {
    text-decoration: underline;
}

#button_header:hover {
    background-color: rgb(234, 182, 1);
}

#button_footer:hover {
    background-color: rgb(234, 182, 1);
}

#textspan9 {
    float: none;
    font-size: 1em;
    line-height: 50px;
    color: rgb(34, 34, 34);
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: montserrat;
}

#menu_hamb {
    float: right;
    width: 32px;
    max-width: 100%;
    height: 28px;
    margin-left: 0px;
    margin-top: 4%;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 10%;
    position: relative;
    top: 0px;
    left: 0px;
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 1600px) {
    #send {
        padding-top: 10%;
    }

    #social_f {
        height: 10%;
        margin-bottom: 4%;
    }

    #Twitter_f {
        height: 41px;
    }
}

@media only screen and (max-width: 1200px) {
    #form_message {
        height: 210px;
    }

    #more {
        padding-top: 12%;
    }

    #brand_box {
        width: 60%;
    }
}

@media only screen and (max-width: 980px) {
    #welcome {
        font-size: 32px;
    }

    #welcome_2 {
        font-size: 48px;
    }

    #more {
        font-size: 14px;
        padding-top: 8%;
    }

    #button_header {
        height: 40px;
    }

    #Title-Services {
        font-size: 32px;
    }

    #Sub-Title_serv {
        font-size: 14px;
    }

    #comerce {
        font-size: 16px;
    }

    #Description_01 {
        font-size: 14px;
    }

    #responsive {
        font-size: 16px;
    }

    #marketing {
        font-size: 16px;
    }

    #Description_03 {
        font-size: 14px;
    }

    #Description_02 {
        font-size: 14px;
    }

    #Title-portfolio {
        font-size: 32px;
    }

    #Sub-Title_portf {
        font-size: 14px;
    }

    #ebony_ivory {
        font-size: 16px;
    }

    #smart_stationary {
        font-size: 16px;
    }

    #clever_poster {
        font-size: 16px;
    }

    #vinyl_record {
        font-size: 16px;
    }

    #template {
        font-size: 16px;
    }

    #burned_logo {
        font-size: 16px;
    }

    #Branding {
        font-size: 14px;
    }

    #print_design {
        font-size: 14px;
    }

    #print_design_02 {
        font-size: 14px;
    }

    #product_Mock-Up {
        font-size: 14px;
    }

    #web_design {
        font-size: 14px;
    }

    #Branding_02 {
        font-size: 14px;
    }

    #Title-About_Us {
        font-size: 32px;
    }

    #Sub-Title_about {
        font-size: 14px;
    }

    #Title_01 {
        font-size: 14px;
    }

    #Description_1 {
        font-size: 14px;
    }

    #Title_03 {
        font-size: 14px;
    }

    #Description_3 {
        font-size: 14px;
    }

    #Title_02 {
        font-size: 14px;
    }

    #Description_2 {
        font-size: 14px;
    }

    #Title_04 {
        font-size: 14px;
    }

    #Description_4 {
        font-size: 14px;
    }

    #Title_team {
        font-size: 32px;
    }

    #Sub-Title_team {
        font-size: 14px;
    }

    #Name_01 {
        font-size: 14px;
    }

    #Name_02 {
        font-size: 14px;
    }

    #Name_03 {
        font-size: 14px;
    }

    #Description_team {
        font-size: 14px;
    }

    #Title-Contact_Us {
        font-size: 32px;
    }

    #Sub-Title {
        font-size: 14px;
    }

    #send {
        font-size: 14px;
        padding-top: 8%;
    }

    #button_footer {
        height: 40px;
    }

    #©_Copyright_2014_FreebiesXpress_com {
        font-size: 12px;
    }

    #form_message {
        height: 200px;
    }

    #brand_box {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    #form_message {
        height: 190px;
    }

    #brand_box {
        width: 80%;
    }

    #send {
        padding-top: 5%;
    }

    #Pinterest_f {
        width: 32px;
        height: 32px;
    }

    #Facebook_h {
        width: 32px;
        height: 32px;
    }

    #Twitter_f {
        width: 32px;
        height: 32px;
    }

    #Google_f {
        width: 32px;
        height: 32px;
    }

    #Facebook_h:hover {
        width: 32px;
    }
}

@media only screen and (max-width: 480px) {
    #welcome {
        font-size: 14px;
    }

    #welcome_2 {
        font-size: 16px;
    }

    #more {
        font-size: 12px;
        font-weight: 400;
        visibility: visible;
        padding-top: 0%;
        margin-top: -5px;
    }

    #Logo {
        margin-left: 8%;
    }

    #Portfolio {
        overflow: visible;
        visibility: hidden;
        margin-right: 43.248698%;
        margin-top: -4.830729%;
        clear: none;
    }

    #About {
        overflow: visible;
        visibility: hidden;
        margin-right: 29.707031%;
        margin-top: -4.830729%;
        clear: none;
    }

    #Contact {
        overflow: hidden;
        visibility: hidden;
        margin-right: 11.998698%;
        margin-top: -4.830729%;
        clear: right;
    }

    #Home {
        overflow: visible;
        visibility: hidden;
        margin-right: 2.5%;
        margin-top: 2.080078%;
        clear: none;
    }

    #Services {
        overflow: visible;
        visibility: hidden;
        margin-right: 2.5%;
        margin-top: 2.076823%;
        clear: none;
    }

    #textspan {
        float: none;
        font-size: 1em;
        line-height: 1em;
        visibility: hidden;
    }

    #button_header {
        height: 25px;
    }

    #Title-Services {
        font-size: 16px;
    }

    #comerce {
        font-size: 14px;
        font-weight: normal;
        line-height: 1em;
    }

    #responsive {
        font-size: 14px;
        font-weight: normal;
        line-height: 1em;
    }

    #marketing {
        font-size: 14px;
        font-weight: normal;
        line-height: 1em;
    }

    #service_01 {
        width: 25%;
        float: left;
        clear: none;
        margin-left: 6%;
    }

    #service_02 {
        width: 25%;
        margin-left: 6%;
        margin-right: 0px;
        float: left;
        clear: none;
        margin-top: 5%;
    }

    #service_03 {
        width: 25%;
        float: left;
        clear: none;
        margin-left: 6%;
    }

    #Description_01 {
        text-align: center;
    }

    #Description_03 {
        text-align: center;
    }

    #Description_02 {
        text-align: center;
    }

    #Title-portfolio {
        font-size: 16px;
    }

    #image_box {
        width: 90%;
        min-width: 0px;
    }

    #ebony_ivory {
        font-size: 14px;
    }

    #smart_stationary {
        font-size: 14px;
    }

    #clever_poster {
        font-size: 14px;
    }

    #Branding {
        font-size: 14px;
    }

    #print_design {
        font-size: 14px;
    }

    #print_design_02 {
        font-size: 14px;
    }

    #vinyl_record {
        font-size: 14px;
    }

    #product_Mock-Up {
        font-size: 14px;
    }

    #template {
        font-size: 14px;
    }

    #web_design {
        font-size: 14px;
    }

    #burned_logo {
        font-size: 14px;
    }

    #Branding_02 {
        font-size: 14px;
    }

    #Title-About_Us {
        font-size: 16px;
    }

    #Title_01 {
        padding-top: 15px;
    }

    #Title_03 {
        margin: 300px 0px 0px 100px;
    }

    #Title_02 {
        margin-top: 220px;
    }

    #Title_04 {
        margin-top: 195px;
    }

    #line_text_right {
        margin-bottom: 200px;
    }

    #Title_team {
        font-size: 16px;
    }

    #team_box {
        width: 90%;
        min-width: 0px;
    }

    #Name_01 {
        line-height: 1em;
        font-family: montserrat;
        visibility: hidden;
        overflow: hidden;
    }

    #textspan9 {
        float: none;
        font-size: 1em;
        line-height: 0px;
    }

    #Name_02 {
        visibility: hidden;
        overflow: hidden;
    }

    #Name_03 {
        visibility: hidden;
        overflow: hidden;
    }

    #social_01 {
        margin-top: -60px;
    }

    #Description_team {
        text-align: center;
    }

    #brand_box {
        width: 90%;
    }

    #form_message {
        margin-left: 0px;
        margin-right: 0px;
        float: left;
        clear: left;
        margin-top: 20px;
        width: 90%;
    }

    #form_left {
        width: 80%;
    }

    #Title-Contact_Us {
        font-size: 16px;
    }

    #social_f {
        margin-right: 5%;
    }

    #send {
        font-weight: 400;
        font-size: 12px;
        padding-top: 7%;
    }

    #button_footer {
        margin-top: 5%;
    }

    .primaryContainer {
        width: 100%;
    }

    #social_02 {
        margin-top: -45px;
    }

    #social_03 {
        margin-top: -45px;
    }

    #menu_hamb {
        float: right;
        width: 32px;
        max-width: 100%;
        height: 28px;
        margin-left: 0px;
        margin-top: 4%;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: 10%;
        position: relative;
        top: 0px;
        left: 0px;
        visibility: visible;
        display: block;
    }
}

