.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: auto;
}

#header-box {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: auto;
    position: relative;
}

body {
    background-image:url("img/background_pattern_x1.png"),-webkit-linear-gradient(0deg, rgb(29, 29, 29) 19%, rgb(211, 0, 0) 50%, rgb(29, 29, 29) 80%);
    background-image: url(file:///D:/rabochiy%20stol/airsoft/airsoft_project/assets/img/background_pattern_x1.png), linear-gradient(90deg, rgb(29, 29, 29) 19%, rgb(211, 0, 0) 50%, rgb(29, 29, 29) 80%);
    background-attachment: scroll, fixed;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#text {
    float: right;
    font-size: 26px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    min-width: 0px;
    padding: 30px 100px 30px 120px;
    background-image:url("img/header_name_bg.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#slider-box {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: auto;
    min-width: 0px;
}

#state-box-left {
    float: left;
    height: auto;
    margin-left: 3%;
    margin-top: 25px;
    clear: none;
    width: 45%;
    min-height: 550px;
    overflow: hidden;
    margin-bottom: 25px;
}

#name-box {
    float: none;
    height: 70px;
    margin: 0px auto;
    clear: none;
    width: 100%;
}

#state-box-01 {
    float: left;
    height: auto;
    clear: none;
    width: 45%;
    position: static;
    top: 0px;
    left: 0px;
    margin: 20px 0px 0px 3%;
    padding: 10px;
    min-width: 0px;
    min-height: 600px;
}

#state-box-02 {
    float: right;
    height: auto;
    margin: 20px 3% 0px 0px;
    clear: none;
    width: 45%;
    padding: 10px;
    min-width: 0px;
    min-height: 600px;
}

#state-box-03 {
    float: left;
    height: auto;
    margin: 20px 0px 0px 2.998288%;
    clear: both;
    width: 45%;
    padding: 10px;
    min-width: 0px;
    min-height: 600px;
}

#state-box-04 {
    float: right;
    height: auto;
    margin: 20px 3% 0px 0px;
    clear: none;
    width: 45%;
    padding: 10px;
    min-width: 0px;
    min-height: 600px;
}

#state-box {
    float: none;
    height: auto;
    margin: 25px auto;
    clear: none;
    width: auto;
    position: relative;
    display: block;
    min-width: 300px;
    min-height: 0px;
    background-color: rgb(74, 74, 74);
    padding-bottom: 20px;
}

#footer {
    float: none;
    height: 200px;
    margin-left: auto;
    margin-top: 0px;
    clear: left;
    width: 100%;
    margin-right: auto;
    position: static;
    top: 0px;
    left: 0px;
    padding: 0px;
    background-image:url("img/footer_bg.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat no-repeat;
}

#name-left {
    float: none;
    font-size: 24px;
    width: 300px;
    height: 70px;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    padding-top: 25px;
    background-image:url("img/textbox_name.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#slider-img_DELETE {
    float: none;
    width: 50%;
    max-width: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    color: rgb(0, 0, 0);
    visibility: visible;
    position: static;
    top: 0px;
    left: 0px;
}

#Image-state-01 {
    float: none;
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    color: rgb(0, 0, 0);
    min-width: 0px;
    min-height: 100px;
}

#Image-state-02 {
    float: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    clear: none;
    color: rgb(0, 0, 0);
}

#Image-state-03 {
    float: none;
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    color: rgb(0, 0, 0);
    min-width: 100px;
    min-height: 100px;
}

#Image-state-04 {
    float: none;
    width: 100%;
    max-width: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
    min-width: 100px;
    min-height: 100px;
}

#title {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    min-width: 0px;
}

#autor {
    float: none;
    font-size: 14px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(159, 159, 159);
    margin-right: auto;
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#date {
    float: none;
    font-size: 14px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(159, 159, 159);
}

#textspan1 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#text1 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 150px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    font-family: arial;
}

#more {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    margin-right: auto;
    color: rgb(255, 93, 0);
    text-decoration: underline;
}

#title1 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    min-width: 0px;
    margin-right: auto;
}

#autor1 {
    float: none;
    font-size: 14px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(159, 159, 159);
    margin-right: auto;
}

#textspan2 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#date1 {
    float: none;
    font-size: 14px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(159, 159, 159);
    margin-right: auto;
}

#textspan3 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#text2 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 150px;
    color: rgb(255, 255, 255);
    font-family: arial;
    margin-right: auto;
}

#more1 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(255, 93, 0);
    text-decoration: underline;
    margin-right: auto;
}

#title2 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    min-width: 0px;
    margin-right: auto;
}

#autor2 {
    float: none;
    font-size: 14px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    margin-right: auto;
}

#date2 {
    float: none;
    font-size: 14px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(159, 159, 159);
    margin-right: auto;
}

#textspan5 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#text3 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 150px;
    color: rgb(255, 255, 255);
    font-family: arial;
    margin-right: auto;
}

#more2 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(255, 93, 0);
    text-decoration: underline;
    margin-right: auto;
}

#textspan4 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(159, 159, 159);
}

#title3 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    min-width: 0px;
    margin-right: auto;
    visibility: visible;
    position: static;
    top: 0px;
    left: 0px;
}

#autor3 {
    float: none;
    font-size: 14px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    margin-right: auto;
    visibility: visible;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
}

#textspan6 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(159, 159, 159);
}

#date3 {
    float: none;
    font-size: 14px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(159, 159, 159);
    margin-right: auto;
    visibility: visible;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
}

#textspan7 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#text4 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 150px;
    color: rgb(255, 255, 255);
    font-family: arial;
    margin-right: auto;
    visibility: visible;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
}

#more3 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(255, 93, 0);
    text-decoration: underline;
    margin-right: auto;
    visibility: visible;
    position: static;
    top: 0px;
    left: 0px;
}

#state-box-right {
    float: right;
    height: auto;
    margin: 25px 3% 25px 0px;
    clear: none;
    width: 45%;
    min-height: 550px;
    overflow: hidden;
}

#name-box1 {
    float: none;
    height: 70px;
    margin: 0px auto;
    clear: none;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

#name-right {
    float: none;
    font-size: 24px;
    width: 300px;
    height: 70px;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    padding-top: 25px;
    background-image:url("img/textbox_name.png");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#state-box1 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 25px;
    clear: none;
    width: auto;
    margin-right: auto;
    position: relative;
    display: block;
    min-width: 300px;
    min-height: 0px;
    background-color: rgb(74, 74, 74);
    padding-bottom: 20px;
}

#state-box-011 {
    float: left;
    height: auto;
    clear: none;
    width: 45%;
    position: static;
    top: 0px;
    left: 0px;
    margin: 20px 0px 0px 3%;
    padding: 10px;
    min-width: 0px;
    min-height: 600px;
}

#Image-state-011 {
    float: none;
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    color: rgb(0, 0, 0);
    min-width: 0px;
    min-height: 100px;
}

#title4 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    min-width: 0px;
}

#autor4 {
    float: none;
    font-size: 14px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(159, 159, 159);
    margin-right: auto;
}

#date4 {
    float: none;
    font-size: 14px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(159, 159, 159);
}

#textspan8 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#text5 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 150px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    font-family: arial;
}

#more4 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    margin-right: auto;
    color: rgb(255, 93, 0);
    text-decoration: underline;
}

#state-box-021 {
    float: right;
    height: auto;
    margin: 20px 3% 0px 0px;
    clear: none;
    width: 45%;
    padding: 10px;
    min-width: 0px;
    min-height: 600px;
}

#Image-state-021 {
    float: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    clear: none;
    color: rgb(0, 0, 0);
}

#title5 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    min-width: 0px;
    margin-right: auto;
}

#autor5 {
    float: none;
    font-size: 14px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(159, 159, 159);
    margin-right: auto;
}

#textspan9 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#date5 {
    float: none;
    font-size: 14px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(159, 159, 159);
    margin-right: auto;
}

#textspan10 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#text6 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 150px;
    color: rgb(255, 255, 255);
    font-family: arial;
    margin-right: auto;
}

#more5 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(255, 93, 0);
    text-decoration: underline;
    margin-right: auto;
}

#state-box-031 {
    float: left;
    height: auto;
    margin: 20px 0px 0px 2.998288%;
    clear: both;
    width: 45%;
    padding: 10px;
    min-width: 0px;
    min-height: 600px;
}

#Image-state-031 {
    float: none;
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    color: rgb(0, 0, 0);
    min-width: 100px;
    min-height: 100px;
}

#title6 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    min-width: 0px;
    margin-right: auto;
}

#autor6 {
    float: none;
    font-size: 14px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    margin-right: auto;
}

#textspan11 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(159, 159, 159);
}

#date6 {
    float: none;
    font-size: 14px;
    width: 99.999999%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(159, 159, 159);
    margin-right: auto;
}

#textspan12 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#text7 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 150px;
    color: rgb(255, 255, 255);
    font-family: arial;
    margin-right: auto;
}

#more6 {
    float: none;
    font-size: 16px;
    width: 99.999999%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(255, 93, 0);
    text-decoration: underline;
    margin-right: auto;
}

#state-box-041 {
    float: right;
    height: auto;
    margin: 20px 3% 0px 0px;
    clear: none;
    width: 45%;
    padding: 10px;
    min-width: 0px;
    min-height: 600px;
}

#Image-state-041 {
    float: none;
    width: 100%;
    max-width: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
    min-width: 100px;
    min-height: 100px;
}

#title7 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    min-width: 0px;
    margin-right: auto;
    visibility: visible;
    position: static;
    top: 0px;
    left: 0px;
}

#autor7 {
    float: none;
    font-size: 14px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    margin-right: auto;
    visibility: visible;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
}

#textspan13 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(159, 159, 159);
}

#date7 {
    float: none;
    font-size: 14px;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    color: rgb(159, 159, 159);
    margin-right: auto;
    visibility: visible;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
}

#textspan14 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
}

#text8 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 150px;
    color: rgb(255, 255, 255);
    font-family: arial;
    margin-right: auto;
    visibility: visible;
    min-width: 0px;
    position: static;
    top: 0px;
    left: 0px;
}

#more7 {
    float: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(255, 93, 0);
    text-decoration: underline;
    margin-right: auto;
    visibility: visible;
    position: static;
    top: 0px;
    left: 0px;
}

