

/* Put your custom styles here */

.under_title
{
    margin-top: 35px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 6.5em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 85px;
    letter-spacing: -3px;
    margin-bottom: 35px;
}

.hr_title
{
    width: 100px;
    margin-bottom: 50px;
}

.btn_title
{
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    border: 4px solid #fff;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 40px;
}

.btn_title:hover, .btn_title:focus
{
    background-color: #fff;
    color: #FCE389;
    text-decoration: underline;
}

.red_hr
{
    border: 2px solid #F38181 !important;
}

.story_title
{
    font-family: 'Kaushan Script', cursive;
    color: #333 !important;
    margin-top: 40px !important;
    text-transform: inherit;
    font-size: 3.2em;
}

.text_story
{
    text-transform: uppercase;
    color: #333 !important;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;
}

.img_team
{
}

.result
{
    border-left: 1px solid #fff;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.result
{
}

.result
{
}

.result
{
}

.result
{
}

@media only screen and (max-width:991px)
{
    .del
    {
        display: none;
        overflow: hidden;
    }
}

.bg_fon
{
    background-color: #95E1D4;
    position: relative;
    width: 100%;
    margin-top: 5%;
}

.my_row
{
    margin-top: -20px;
}

.result
{
}

.result_0
{
    border-right: 1px solid #fff;
}

.res_num
{
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
    font-weight: 800;
    margin-left: 15%;
}

.res_num
{
}

.res_num
{
}

.res_num
{
}

.res_num
{
}

.res_name
{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin-left: 10%;
    text-transform: uppercase;
}

.res_name
{
}

.res_name
{
}

.res_name
{
}

.res_name
{
}

.hr_gray
{
    width: 100%;
    border-top: 3px solid #eee;
    margin-top: 180px;
}

.story_title
{
    text-transform: inherit;
}

@media only screen and (min-width:300px) and (max-width:479px)
{
    .under_title
    {
        font-size: 3em;
        line-height: 50px;
    }
}

@media only screen and (max-width:479px)
{
    .content-1-1_mob
    {
        background-size: 1000px;
        overflow: hidden;
        display: none;
        height: 480px;
    }
}

.red_hr_margin
{
    margin-top: 0px;
}

.story_title
{
}

.service_right_pad
{
}

.srv_right_panel
{
    margin-top: -90px;
    margin-left: -50px;
}

.srv_height
{
}

@media (min-width:480px) and (max-width:767px)
{
    .srv_panel_right_min
    {
        margin-top: -20px;
        padding-left: 10px;
        width: 100%;
    }
}

.pnl_bg
{
}

.srv_ico
{
    margin-right: 15px;
}

.srv_text
{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #A6A6A6;
}

.srv_text
{
}

@media (max-width:479px)
{
    .srv_right_min_02
    {
        margin-top: -20px;
        padding-left: 0;
    }
}

.message
{
}

.name_line
{
    font-size: 1em;
}

.name_line
{
}

.name_text
{
    color: #F38181;
}

.name_text
{
    margin-right: 15px;
}

.name_text_person
{
    font-family: 'Kaushan Script', cursive;
    color: #333;
}

.message_ico
{
    margin-top: 20px;
    color: #95E1D4;
}

.tcitatu
{
    margin-left: 20px;
}

.name_team
{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: left;
    width: 100%;
}

.spec_team
{
    font-family: 'Roboto', sans-serif;
    color: #a6a6a6;
}

.logo_col
{
    background-color: #F8F8F8;
}

.btn_works
{
    border-radius: 0px;
}

.btn_works
{
}

.btn_works
{
}

.btn_works
{
}

.work_hover_text
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.pos_div
{
    float: left;
}

.img_comment
{
    margin-right: 30px;
    margin-left: 5px;
}

.min_height_cyt
{
}

.margin_top
{
}

.ico_pic_mar
{
    margin-top: 5%;
}

.ico_pic_mar
{
}

.ico_pic_mar
{
}

.ico_pic_mar
{
}

.my_new_padding
{
    padding-top: 30px;
}

.comment_box
{
    width: 100%;
    background: url('../img/bg_people.png') no-repeat center center;
    padding-bottom: 10%;
}

.row_ppl
{
    margin-top: 5%;
}

.pic_ppl_left
{
    float: left;
}

.pic_ppl_left
{
}

.ppl_hr
{
    width: 20%;
    float: left;
}

.info_pad
{
    padding-top: 0px;
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    color: #a6a6a6;
}

.name_ppl
{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-transform: uppercase;
    font-size: 1em;
}

.spec_ppl
{
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

@media (max-width:991px)
{
    .comment_box_min
    {
        background: none;
    }
}

.client_img
{
}

.client_img
{
}

.client_img
{
}

.footer_box
{
    margin-top: 0;
    background-color: #F8F8F8 !important;
}

.footer_name
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ccc;
}

.footer_text_01
{
    color: #333 !important;
}

.p_story
{
    color: #a6a6a6 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.text_underline_bord
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.img_footer
{
    border: 0;
}

.footer_insta_box
{
}

.instagramm
{
}

.instagramm
{
    padding-left: 15px;
}

.comment_block_slide
{
    background-color: #fff;
}

@media (min-width:480px) and (max-width:899px)
{
    .name_team_mob
    {
        text-align: left;
    }
}

.comment_dark_bg
{
    background-color: #f8f8f8;
}

